{% extends "default.html" %}

{% block title %}Displaying Accounts Saved in {{ account_list.get_list_name() }}{% endblock %}
{% block header %}Displaying Accounts Saved in List '{{ account_list.get_list_name() }}'{% endblock %}
{% block content %}
    <ul style="list-style-type: none">
        {%  for account in account_list %}
        <li>
            SITE: {{ account.get_account_name() }}, with username of '{{ account.get_account_uname() }}'
        </li>
            * ---- *
        {% endfor %}
    </ul>
{% endblock %}