{% extends "default.html" %}

{% block title %}Select a List{% endblock %}
{% block header %}Select a List to Display{% endblock %}
{% block content %}
    <p>
        Select a list from the dropdown menu:
        <form method="get" action="/print-account-list">
            <label>
                <select name="account_list_name">
                    {% for acc_list in account_lists %}
                    <option value="{{ acc_list.get_list_name() }}">
                        {{ acc_list.get_list_name() }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <button type="submit">Display</button>
        </form>
{% endblock %}