{% extends "default.html" %}

{% block title %}Update Password{% endblock %}
{% block header %}Update Password{% endblock %}
{% block content %}
    <p>
        Select an account to update, then enter the new password:
        <form method="post" action="/update-password">
            <label>
                <li style="list-style-type: none">
                    Account:
                    <select name="account_name">

                    {% for account in accounts %}
                    <option value="{{ account.get_key() }}">
                        {{ account.get_account_name() }}: {{ account.get_account_uname() }}
                    </option>

                    {% endfor %}
                    </select>
                </li>
                ----
                <li style="list-style-type: none">
                    <label>New Password:
                    <input type="password" name="pwd" placeholder="Enter new password">
                    <button type="submit">Update</button>
                    </label>
                </li>
            </label>
        </form>
{% endblock %}